.button-result {
    justify-content:center;
    display: inline-flex;
}
#eat {
    display:inline-block;
    height:35px;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 8px;
    border-radius:0.50em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.8s;
    background-color:transparent;
}
#eat:hover {
    background-color:#4f9ca8;
    color:#FFFFFF;
}
