.searchForm {
    height: 100vh;
    width:100%;
    position:absolute;
    left:50%;
    transform: translate(-50%);
}
h1{
    color: #F3EFE0;
}
.searchForm__input{
    width: 50%;
    border-radius:0.50em;
    height: 30px;
    background-color: beige;
    border-color: transparent;
}
a {
    text-decoration: none;
}
#logo{
    max-width: 100vh;
    min-width: 20%;
}